<!DOCTYPE html>
<html>
    <head>
      <title>MY page7</title>
      <link rel="stylesheet" type="text/css" href=""> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
        </style>
    </head>

    <body>
        <form method="get"  action="/getpage7"  name="myform1">
            <fieldset>
                <legend>Personal information:</legend>
                User ID: <input type="text" name="user_id"><br>
                lat : <input type="text" name="lat_a"><br>
                lng: <input type="text" name="lng_a"><br>
                <input type="submit" value="Submit" >
            </fieldset>
        </form>
                

      <script>         
      </script>

    </body>
    </html>